@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --primary: #0F0119;
    --secondary: #B03EFB;
}

body {
    background-color: var(--primary);
    color: var(--secondary);
    font-size: 1.1rem;
    font-family: "Quicksand", sans-serif;
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
}

main {
    margin-left: 15%;
    margin-right: 15%;
}

div:not(.header) {
    background-color: rgba(176, 62, 251, 0.2);
    padding: 40px;
    margin-top: 30px;
    border-radius: 30px;
    color: white;
    transition: .4s;
}

div:not(.header):hover {
    background-color: rgba(176, 62, 251, 0.5);
    transform: scale(1.03);
    transition: .4s;
}

.header {
    display: flex;
    gap: 20px;
    align-items: baseline;
}

.header h3 {
    font-size: 60px;
    margin: 0;
}

.header h4 {
    font-size: 20px;
}

header {
    text-align: center;
    margin: 2%
}

h1 {
    font-size: 73px;
    margin: 0;
}

h2 {
    font-size: 20px;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

section:not(.tasks) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

textarea,
input {
    height: 30px;
    width: 100%;
    border-radius: 30px;
    background-color: rgba(176, 62, 251, 0.2);
    color: white;
    border: none;
    font-size: 20px;
    padding: 20px;
    outline: none;
    transition: .4s;
    resize: none;
}

textarea:focus,
input:focus {
    background-color: rgba(176, 62, 251, 0.5);
    transition: .4s;
}

button {
    width: fit-content;
    padding: 20px;
    border-radius: 60px;
    border: none;
    font-size: 20px;
    background-image: linear-gradient(45deg, rgba(176, 62, 251), rgb(70 2 115));
    color: white;
    transition: .4s;
}

button:not(.deleteTasks):hover {
    cursor: pointer;
    transform: translateY(10px);
    box-shadow: 0px 0px 50px #B03EFB;
    transition: .4s;
}

.deleteTasks{
    position: fixed;
    right: 5%;
    bottom: 5%;
}

.deleteTasks:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0px 0px 50px #B03EFB;
    transition: .4s;
}